@model List<E_mail_Management_MVC.Models.Business.BusinessViewModel>
@{
    ViewData["Title"] = "Index";
}
<!-- Begin Page Content -->
<div class="container-fluid mb-4">
    <a class="btn btn-outline-secondary mb-1" asp-action="Create" asp-controller="Business" asp-area=""><i class="fa fa-user-plus"></i> Add Parceiro</a>
    <!-- Page Heading -->
    <div class="card">
        <div class="card-header bg-secondary">
            <h4 class="card-title text-white">Lista de Parceiros</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>NNI</th>
                        <th>Cadastro</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var parc in Model)
                    {
                        <tr>
                            <td>@parc.BusinessId</td>
                            <td>@parc.BusinessName</td>
                            <td>@parc.BusinessNNI</td>
                            <td>@parc.CreatedAt</td>
                            <td>@parc.Active</td>
                            <td>
                                <a class="btn btn-outline-dark m-1"
                               asp-action="Details"
                               asp-controller="Business"
                               asp-route-id="@parc.BusinessId">
                                    <i class="fa fa-key"></i>
                                </a>
                                <a class="btn btn-outline-dark m-1"
                               asp-action=""
                               asp-controller=""
                               asp-route-id="@parc.BusinessId">
                                    <i class="fa fa-key"></i>
                                </a>
                                <a class="btn btn-danger m-1"
                               asp-action=""
                               asp-controller=""
                               asp-route-id="@parc.BusinessId">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


    </div>



</div>
